.react-redux-composable-list-row-selectable, .react-redux-composable-list-row-selected {
  cursor: pointer;
}

.react-redux-composable-list-row-selectable {
  &:hover {
    background: #eff7ff;
  }
}

.react-redux-composable-list-row-selected {
  background-color: #C9E5FF;

  &:hover {
    background: #add9ff;
  }
}

.react-redux-composable-list-row-unselectable {
  cursor: default;
  color: #aaaaaa;
}
