.react-redux-data-grid-cell-body {
  overflow: hidden;
  text-overflow: ellipsis;
}

.react-redux-data-grid-cell {
  padding: 5px;
  display: inline-block;
}

.react-redux-data-grid-row {
  display: flex;
  min-height: 36px;
  line-height: 24px;
  white-space: nowrap;
  border-bottom: lightgrey 1px dotted;
}

.react-redux-data-grid {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}
