.react-redux-composable-list-cell-body {
  overflow: hidden;
  text-overflow: ellipsis;
}

.react-redux-composable-list-cell {
  padding: 5px;
  display: inline-block;
}

.react-redux-composable-list-row {
  display: flex;
  min-height: 36px;
  line-height: 24px;
  white-space: nowrap;
}

.react-redux-composable-list {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}
